%p= link_to season.name, season_path(season.name)

- if prev_week
  %p= link_to "Week #{prev_week.number}", season_week_path(season.name, prev_week.number)

- if next_week
  %p= link_to "Week #{next_week.number}", season_week_path(season.name, next_week.number)

%h1 Week #{week.number}

%p= rando_result(week)

%table
  %thead
    %tr
      %th(colspan=2) Home
      %th(colspan=2) Away
  %tbody
    - for game in games
      %tr
        %td= game.home_team.name
        %td= game.home_score
        %td= game.away_team.name
        %td= game.away_score

%table
  %thead
    %tr
      %th Alias
      %th Pick
      %th Result
      %th Score
  %tbody
    - for pick in picks
      %tr
        %td= pick.character.name
        %td= pick.team.name
        %td= pick.correct? ? "Won" : "Lost"
        %td= pick.score

%p Pick of the week: #{game_with_biggest_delta.winning_team.name} beat the #{game_with_biggest_delta.losing_team.name} by #{game_with_biggest_delta.delta}.
